
module mypol 1.0;

require {
	type thumb_t;
	type user_home_dir_t;
	class process setfscreate;
	class file create;
}

#============= thumb_t ==============
allow thumb_t self:process setfscreate;
allow thumb_t user_home_dir_t:file create;
